{% extends 'base/base.html' %}

{% block title %}Log in{% endblock %}

{% block main_title %}
    Log in
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        You are already logged in as {{ user.username }}.
    {% else %}
        <form class="pure-form pure-form-aligned" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}

            <fieldset>
                {% for field in form %}
                    <div class="pure-control-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.field.required %}
                        <span class="pure-form-message-inline">This is a required field.</span>
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Create</button>
                    <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
