{% extends 'base/trash.html' %}

{% block title %}
    Delete {{ current_note.title }}
{% endblock %}

{% block main_subtitle %}
    Delete {{ current_note.title }}
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'trash:permanent-delete-note' note_id=current_note.id %}"
          method="post">
        {% csrf_token %}

        <fieldset>
            <p>
                Are you sure you want to delete this note?
                You will not be able to recover them if you change your mind.
            </p>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Delete</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
