{% extends 'view_note.html' %}

{% block main_buttons %}
    <a href="{% url 'share:download-note' note_id=current_note.id filetype='txt' code=code %}">
        <button class="secondary-button pure-button">Download TXT</button>
    </a>
    <a href="{% url 'share:download-note' note_id=current_note.id filetype='pdf' code=code %}">
        <button class="secondary-button pure-button">Download PDF</button>
    </a>
    {% if permissions == 'read+write' %}
    <a href="{% url 'share:edit-note' note_id=current_note.id code=code %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'share:delete-note' note_id=current_note.id code=code %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
    {% endif %}
{% endblock %}
