{% extends 'base/trash.html' %}

{% block main_buttons %}
    <a href="{% url 'download-note' note_id=current_note.id filetype='txt' %}">
        <button class="secondary-button pure-button">Download TXT</button>
    </a>
    <a href="{% url 'download-note' note_id=current_note.id filetype='pdf' %}">
        <button class="secondary-button pure-button">Download PDF</button>
    </a>
    <a href="{% url 'share:share-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Share</button>
    </a>
    <a href="{% url 'trash:restore-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Restore</button>
    </a>
    <a href="{% url 'edit-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'trash:permanent-delete-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
{% endblock %}
