<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'new-notebook' %}">New Notebook</a>
        <a href="{% url 'new-note' %}">New Note</a>

        {% if not user.is_authenticated %}
            <a href="{% url 'users:login' %}">Log In</a>
            <a href="{% url 'users:register' %}">Register</a>
        {% else %}
            <a href="{% url 'users:logout' %}">Log Out</a>
        {% endif %}
    </div>

    {% block body %}{% endblock body %}
</body>
</html>
