{% extends 'base/note.html' %}

{% block title %}
    Delete "{{ current_note.title }}"
{% endblock %}

{% block main_title %}
    Delete "{{ current_note.title }}"
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'delete-note' note_id=current_note.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            <p>Are you sure you want to delete this note?</p>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Delete</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
