{% extends 'base.html' %}

{% block title %}
    Delete "{{ current_notebook.title }}"
{% endblock %}

{% block main_title %}
    Delete "{{ current_notebook.title }}"
{% endblock %}

{% block main_buttons %}
    <a href="{% url 'edit-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'delete-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'delete-notebook' notebook_id=current_notebook.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            <p>Are you sure you want to delete this notebook? You will lose all notes in this notebook.</p>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Delete</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
