{% extends 'base/base.html' %}

{% block title %}
    Delete Notes
{% endblock %}

{% block main_title %}
    Delete Notes
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'delete-notes' note_ids=current_note_ids %}" method="post">
        {% csrf_token %}

        <fieldset>
            <p>Are you sure you want to delete these notes? You can see the full list on the left.</p>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Delete</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
