{% extends 'base.html' %}

{% block title %}
    Edit "{{ current_notebook.title }}"
{% endblock %}

{% block main_title %}
    Edit "{{ current_notebook.title }}"
{% endblock %}

{% block main_buttons %}
    <a href="{% url 'edit-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'delete-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
{% endblock %}

{% block body %}
    <form action="{% url 'edit-notebook' notebook_id=current_notebook.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Edit</button>
        <button type="button" name="cancel" onclick="window.history.back();">Cancel</button>
    </form>
{% endblock %}
