{% extends 'base.html' %}

{% block title %}
    Edit "{{ current_note.title }}"
{% endblock title %}

{% block main_title %}
    Edit "{{ current_note.title }}"
{% endblock %}

{% block main_buttons %}
    <a href="{% url 'download-note' note_id=current_note.id filetype='txt' %}">
        <button class="secondary-button pure-button">Download TXT</button>
    </a>
    <a href="{% url 'download-note' note_id=current_note.id filetype='pdf' %}">
        <button class="secondary-button pure-button">Download PDF</button>
    </a>
    <a href="{% url 'edit-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'delete-note' note_id=current_note.id %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'edit-note' note_id=current_note.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            {% for field in form %}
                <div class="pure-control-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.field.required %}
                    <span class="pure-form-message-inline">This is a required field.</span>
                    {% endif %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Save</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
