{% extends 'base.html' %}

{% block title %}
    Edit "{{ current_notebook.title }}"
{% endblock %}

{% block main_title %}
    Edit "{{ current_notebook.title }}"
{% endblock %}

{% block main_buttons %}
    <a href="{% url 'edit-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Edit</button>
    </a>
    <a href="{% url 'delete-notebook' notebook_id=current_notebook.id %}">
        <button class="secondary-button pure-button">Delete</button>
    </a>
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'edit-notebook' notebook_id=current_notebook.id %}"
          method="post">
        {% csrf_token %}

        <fieldset>
            <div class="pure-control-group">
                <label for="id_title">Title</label>
                <input name="title" maxlength="100" required="" autofocus="" id="id_title" type="text"
                       placeholder="Title" value="{{ current_notebook.title }}">
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>

            <div class="pure-control-group">
                <label for="id_colour">Colour</label>
                <input name="colour" maxlength="7" required="" id="id_colour" type="color"
                       value="{{ current_notebook.colour }}">
                <script type="text/javascript">
                    (function($){
                        $(document).ready(function(){
                            $('#id_colour').each(function(i, elm){
                                // Make sure html5 color element is not replaced
                                if (elm.type != 'color') $(elm).colorPicker({});
                            });
                        });
                    })('django' in window && django.jQuery ? django.jQuery: jQuery);
                </script>
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Save</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
