{% extends 'base/base.html' %}

{% block title %}
    Merge Notes
{% endblock title %}

{% block main_title %}
    Merge Notes
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'merge-notes' note_ids=current_note_ids %}" method="post">
        {% csrf_token %}

        <fieldset>
            <p>Are you sure you want to merge these notes? You can see the full list on the left.</p>

            {{ form.media }}
            {% for field in form %}
                <div class="pure-control-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.field.required %}
                    <span class="pure-form-message-inline">This is a required field.</span>
                    {% endif %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Merge</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
