{% extends 'base.html' %}

{% block title %}
    New Notebook
{% endblock title %}

{% block main_title %}
    New Notebook
{% endblock %}

{% block body %}
    <form class="pure-form pure-form-aligned" action="{% url 'new-notebook' %}" method="post">
        {% csrf_token %}

        <fieldset>
            <div class="pure-control-group">
                <label for="id_title">Title</label>
                <input name="title" maxlength="100" required="" autofocus="" id="id_title" type="text"
                       placeholder="Title">
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>

            <div class="pure-control-group">
                <label for="id_colour">Colour</label>
                <input name="colour" maxlength="7" required="" id="id_colour" type="color">
                <span class="pure-form-message-inline">This is a required field.</span>
                <script type="text/javascript">
                    (function($){
                        $(document).ready(function(){
                            $('#id_colour').each(function(i, elm){
                                // Make sure html5 color element is not replaced
                                if (elm.type != 'color') $(elm).colorPicker({});
                            });
                        });
                    })('django' in window && django.jQuery ? django.jQuery: jQuery);
                </script>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Create</button>
                <button type="button" class="pure-button pure-button-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
