{% extends 'base.html' %}

{% block title %}
    Search {{ current_notebook.title }} "{{ query }}"
{% endblock %}

{% block main_title %}
    Search {{ current_notebook.title }} "{{ query }}"
{% endblock %}

{% block search %}
    <div class="email-item email-item-selected pure-g">
        <form class="pure-form" action="{% url 'search-notebook' notebook_id=current_notebook.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <input type="text" placeholder="Search..." name="query" id="id_query">
                <button type="submit" class="pure-button"><i class="fa fa-search"></i></button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block body %}
    <p>
        You are now only seeing notes within the notebook "{{ current_notebook.title }}" which match your search query
        of "{{ query }}".
    </p>
{% endblock %}
